<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clinica</title>
</head>
<!-- import vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- import axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import CSS -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- import JavaScript lang Es -->
<script src="https://unpkg.com/element-ui"></script>
<script src="https://unpkg.com/element-ui/lib/umd/locale/es.js"></script>
<!-- import lang -->
<script>
  ELEMENT.locale(ELEMENT.lang.es)
</script>


<style>
  .container {
    background: #ffffff;
    margin-top: 3%;
  }

  .container_2 {
    background: #ffffff;
    margin-top: 5%;
    width: 45%;
    margin-left: 8%;
  }

  .container_3 {

    background: #ffffff;
    margin-top: 5%;
    width: 100%;
    margin-bottom: 0%;
  }

  table td:last-child {
    border-right: none;
  }

  table tbody tr:nth-child(2n) td {
    background: #ffffff;
  }

  body {
    background: #ffffff;
    /* font-size: xx-large; */


  }

  body.bg-light {
    background-color: #ffffff;
  }

  button {
    width: 100%;
    margin-bottom: 1%;
  }
</style>

<body>
  <div id="app2">
    <div class="container_2">
      <header style="margin-left: 10%;">
        <img src="Imagenes/clinica esperanza logo.jpg" style="width: 70%;" />
      </header>
    </div>
    <div class="container">
      <el-button @click="GetforAxios()" type="primary"> Actualizar</el-button>
      <el-table :data="DatosCentro" style="width: 100%" size="mini">
        <el-table-column>
          <template slot="header" slot-scope="scope">
            <el-collapse v-model="activeNames" @change="handleChange">
              <el-collapse-item title="Clinica Centro" name="1">
                <el-collapse v-model="activeNames" @change="handleChange">
                  <el-collapse-item title="Primer Piso" name="piso 1">
                    <!-- Tabla Etiqueta Primer piso -->
                    <el-table :data="DatosCentroPrimerPiso" style="width: 100%" size="mini">
                      <el-table-column type="expand">
                        <template slot-scope="props">
                          <p>Diagnostico: {{ props.row.Me_Diagnostico }}</p>

                        </template>
                      </el-table-column>
                      <el-table-column prop="fic_nombre" label="Nombre" align="center">
                      </el-table-column>
                      <el-table-column prop="fic_sexo" label="Sexo" width="50" align="center">
                      </el-table-column>
                      <el-table-column prop="Nombre_Cama" label="habitacion" width="100" align="center">
                      </el-table-column>
                    </el-table>
                  </el-collapse-item>

                  <el-collapse-item title="Segundo Piso" name="piso 2">
                    <!-- Tabla Etiqueta Segundo Piso -->
                    <el-table :data="DatosCentroSegundoPiso" style="width: 100%" size="mini">
                      <el-table-column type="expand">
                        <template slot-scope="props">
                          <p>Diagnostico: {{ props.row.Me_Diagnostico }}</p>

                        </template>
                      </el-table-column>
                      <el-table-column prop="fic_nombre" label="Nombre" align="center">
                      </el-table-column>
                      <el-table-column prop="fic_sexo" label="Sexo" width="50" align="center">
                      </el-table-column>
                      <el-table-column prop="Nombre_Cama" label="habitacion" width="100" align="center">
                      </el-table-column>
                    </el-table>
                  </el-collapse-item>

                  <el-collapse-item title="UTI" name="UTI">
                    <!-- Tabla Etiqueta UTI -->
                    <el-table :data="DatosCentroUTI" style="width: 100%" size="mini">
                      <el-table-column type="expand">
                        <template slot-scope="props">
                          <p>Diagnostico: {{ props.row.Me_Diagnostico }}</p>

                        </template>
                      </el-table-column>
                      <el-table-column prop="fic_nombre" label="Nombre" align="center">
                      </el-table-column>
                      <el-table-column prop="fic_sexo" label="Sexo" width="50" align="center">
                      </el-table-column>
                      <el-table-column prop="Nombre_Cama" label="habitacion" width="100" align="center">
                      </el-table-column>
                    </el-table>
                  </el-collapse-item>

                  <el-collapse-item title="Cirugias menores" name="Cirugias menores">
                    <!-- Tabla Etiqueta Cirugias menores -->
                    <el-table :data="DatosCentroCirugiaM" style="width: 100%" size="mini">
                      <el-table-column type="expand">
                        <template slot-scope="props">
                          <p>Diagnostico: {{ props.row.Me_Diagnostico }}</p>

                        </template>
                      </el-table-column>
                      <el-table-column prop="fic_nombre" label="Nombre" align="center">
                      </el-table-column>
                      <el-table-column prop="fic_sexo" label="Sexo" width="50" align="center">
                      </el-table-column>
                      <el-table-column prop="Nombre_Cama" label="habitacion" width="100" align="center">
                      </el-table-column>
                    </el-table>
                  </el-collapse-item>

                </el-collapse>
              </el-collapse-item>
            </el-collapse>
          </template>
          <el-table-column prop="ubic_nombre" label="Ubicacion" align="center">
          </el-table-column>
          <el-table-column prop="sec_nombre" label="Sector" align="center">
          </el-table-column>
          <el-table-column prop="camaslibres" label="Camas libres" width="88" align="center">
          </el-table-column>
        </el-table-column>
      </el-table>
      <br>
      <!-- tabla 2 -->
      <el-table :data="DatosNorte" style="width: 100%" size="mini">
        <el-table-column>
          <template slot="header" slot-scope="scope">
            <el-collapse v-model="activeNames" @change="handleChange">
              <el-collapse-item title="Clinica Norte" name="2">
                <el-collapse v-model="activeNames" @change="handleChange">
                  <el-collapse-item title="Aislamiento" name="Aislamiento">
                    <!-- Tabla Norte en Etiqueta -->
                    <!-- Tabla Etiqueta Aislamiento -->
                    <el-table :data="DatosNorteAislamiento" style="width: 100%" size="mini">
                      <el-table-column type="expand">
                        <template slot-scope="props">
                          <p>Diagnostico: {{ props.row.Me_Diagnostico }}</p>

                        </template>
                      </el-table-column>
                      <el-table-column prop="fic_nombre" label="Nombre" align="center">
                      </el-table-column>
                      <el-table-column prop="fic_sexo" label="Sexo" width="50" align="center">
                      </el-table-column>
                      <el-table-column prop="Nombre_Cama" label="habitacion" width="100" align="center">
                      </el-table-column>

                    </el-table>
                  </el-collapse-item>

                  <el-collapse-item title="Sector Oeste" name="Sector Oeste">
                    <!-- Tabla Etiqueta Sector Oeste -->
                    <el-table :data="DatosNorteSectorOeste" style="width: 100%" size="mini">
                      <el-table-column type="expand">
                        <template slot-scope="props">
                          <p>Diagnostico: {{ props.row.Me_Diagnostico }}</p>

                        </template>
                      </el-table-column>
                      <el-table-column prop="fic_nombre" label="Nombre" align="center">
                      </el-table-column>
                      <el-table-column prop="fic_sexo" label="Sexo" width="50" align="center">
                      </el-table-column>
                      <el-table-column prop="Nombre_Cama" label="habitacion" width="100" align="center">
                      </el-table-column>
                    </el-table>
                  </el-collapse-item>
                </el-collapse>
              </el-collapse-item>
            </el-collapse>
          </template>
          <el-table-column prop="ubic_nombre" label="Ubicacion" align="center">
          </el-table-column>
          <el-table-column prop="sec_nombre" label="Sector" align="center">
          </el-table-column>
          <el-table-column prop="camaslibres" label="Camas libres" width="88" align="center">
          </el-table-column>
        </el-table-column>
      </el-table>
      <br>
      <!-- Tabla 3  -->
      <el-table :data="DatosDomiocilio" style="width: 100%" size="mini">
        <el-table-column>
          <template slot="header" slot-scope="scope">
            <el-collapse v-model="activeNames" @change="handleChange">
              <el-collapse-item title="Domicilio" name="3">
                <!-- Tabla Norte en Etiqueta -->
                <!-- Tabla Etiqueta Aislamiento -->
                <el-table :data="DatosDomisi" style="width: 100%" size="mini">
                  <el-table-column type="expand">
                    <template slot-scope="props">
                      <p>Diagnostico: {{ props.row.Me_Diagnostico }}</p>

                    </template>
                  </el-table-column>
                  <el-table-column prop="fic_nombre" label="Nombre" align="center">
                  </el-table-column>
                  <el-table-column prop="fic_sexo" label="Sexo" width="50" align="center">
                  </el-table-column>
                  <el-table-column prop="Nombre_Cama" label="habitacion" width="100" align="center">
                  </el-table-column>
                </el-table>
              </el-collapse-item>
            </el-collapse>
          </template>
          <el-table-column prop="ubic_nombre" label="Ubicacion" align="center">
          </el-table-column>
          <el-table-column prop="sec_nombre" label="Sector" align="center">
          </el-table-column>
          <el-table-column prop="camaslibres" label="Camas libres" width="88" align="center">
          </el-table-column>
        </el-table-column>
      </el-table>
      <el-button disabled @click="" class="btn btn-primary">
        Total de camas libres en domicilio: "{{CamasLibresDomicilio}}"
      </el-button>
      <el-button disabled @click="">
        Total de camas libres : "{{CamasLiresTotal}}"
      </el-button>
    </div>
  </div>
  <script src="app3.js"></script>
</body>

</html>